
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  background-color: LightSteelBlue;
  margin: 0;
}


.title {
  color: Indigo;
  text-align: center;
  font-size: 50px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.search-input {
  font-size: 20px;
  padding-left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  height: 50px;
  width: 300px;
  border-width: 5px;
  border-radius: 7px;
  border-color: #5351ad5c;
}
.search-input:hover,
.search-input:focus {
  border-color: #6d8ada;
}
#country {
  margin: 0;
}
.countries__name:hover,
.countries__name:focus {
  cursor: zoom-in;
}
.card__title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.sub-title {
  font-weight: 700;
}

.card__text {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__flag {
  display: block;
  max-height: 250px;
  box-shadow: 0px -1px 19px 4px rgba(0, 0, 0, 0.45);
}

.languages__item {
  list-style: disc;
  font-size: 20px;
  margin-bottom: 5px;
}

.card__wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card-info__wrap {
  margin-right: 90px;
}